Section: contrib/net
Source: libcurlpp
Priority: extra
Maintainer: UBNT Package Maintainers <maintainers@ubnt.com>
Build-Depends: debhelper (>= 5), python-dev (>= 2.7.3), python-pycparser
Standards-Version: 3.7.2

Package: libcurlpp
Architecture: any
Description: Curl C++ library
 Provides a C++ interface to libcurl
